.products {
  background-color: #020c1b;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  margin-bottom: 5rem;
  max-width: 800px;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color:  #45a2ff;
}
.subtitle {
  margin-bottom: 0;
  font-size: 1.1rem;
  color: #e6f1ff;
  line-height: 1.6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
}

.card {
  background: rgba(10, 25, 47, 0.6);
  padding: 1.5rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 240, 255, 0.1);
  border-color:  #45a2ff;
}

.card h3 {
  color:  #45a2ff;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.card p {
  color: #a7afc9;
  line-height: 1.5;
  font-size: 0.95rem;
  margin: 0;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    max-width: 500px;
  }
  
  .title {
    font-size: 1.8rem;
  }
  
  .subtitle {
    font-size: 1rem;
  }
  
  .card {
    min-height: auto;
    padding: 2rem;
  }
}